.dashboardContainer {
    display: grid;
}

.formsList {
    background-color: aquamarine;
}

.listItem {
    list-style: none;
}

.listLink {
    text-decoration: none;
}

@media(min-width: 1024px) {
    .dashboardContainer {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 1fr 1fr;
        height: 93%;
    }

    .formsList {
        grid-column: span 1 / span 1;
        grid-row: span 2 / span 2;
    }

    .upperRight {
        background-color: rgb(223, 116, 116);
        grid-column: span 3 / span 3;
    }

    .lowerRight {
        background-color: rgb(89, 89, 219);
        grid-column: span 3 / span 3;
    }
}