.header {
    background-color: var(--formstack-slate-100);
}

.logo {
    width: auto;
    height: 85px;
    object-fit: contain;
    padding: 1.5rem 0;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: flex-start;
}

.navGroup {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    margin: 0;
    width: 100%;
    list-style: none;
}

.navLogo {
    grid-column: span 12 / span 12;
}

.navMenuItem {
    grid-column: span 4 / span 4;

}

.navButton {
    grid-column: span 6 / span 6;
}

.navLink {
    display: block;
    margin: 0;
    padding: 10px;
    font-family: sofia-pro, sans-serif;
    color: var(--formstack-black);
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
}

.navGroup li .flyoutMenu {
    display: none;
}

.navGroup li:hover .flyoutMenu {
    display: absolute;
}

.flyoutMenu {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
    top: 105px;
    padding-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

@media (min-width: 720px) {
    .nav {
        flex-direction: row;
    }

    .navMenuItem,
    .navButton {
        grid-column: span 2 / span 2;
    }
}

@media (min-width: 1024px) {

    .navLogo,
    .navMenuItem,
    .navButton {
        grid-column: span 2 / span 2;
    }
}