.cardContainer {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #ffffff;
  border-radius: 0.375rem;
  box-shadow: var(--formstack-shadow);
}

.card {
  display: flex;
  flex-direction: column;
}

.upperLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upperLeft .title {
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-decoration: none;
  color: var(--formstack-black);
}

.upperLeft .editIcon {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  color: var(--formstack-black);
}

.lowerRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 13rem;
  gap: 2rem;
}

.lowerRight .submissionsLink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #10b981;
  color: var(--formstack-black);
  border-radius: 0.375rem;
  box-shadow: var(--formstack-shadow);
  text-decoration: none;
  cursor: pointer;
}

.lowerRight .submissionsLink:hover {
  box-shadow: none;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
  }

  .upperLeft .title {
    font-size: 3rem;
    line-height: 1;
  }

  .lowerRight .latestSubmission {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lowerRight .submissionsLink {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* Loading Animation  */
@keyframes loadIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 1;
  }
}

.one {
  -webkit-animation: load 5s infinite;
  animation: load 5s infinite;
}

.two {
  -webkit-animation: load 5s infinite 1s;
  animation: load 5s infinite 1s;
}

.three {
  -webkit-animation: load 5s infinite 2s;
  animation: load 5s infinite 2s;
}

.four {
  -webkit-animation: load 5s infinite 3s;
  animation: load 5s infinite 3s;
}
